@{
    ViewData["Title"] = "TravelHaven.com | Official site | The best experience";
}

@using Travelling_Application.ViewModels
@model SearchAccomodationViewModel

<head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            .full-width-image {
                width: 100%;
                height: 10cm; /* Задаем высоту изображения */
                background-image: url('https://kartinki.pics/pics/uploads/posts/2022-08/thumbs/1660697156_49-kartinkin-net-p-maldivi-oboi-krasivo-58.jpg'); /* Укажите путь к вашему изображению */
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .accomodation-card {
                border: 1px solid #ddd;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                margin-bottom: 20px;
            }

            .accomodation-image {
                width: 100%;
                height: auto;
                display: block;
                margin-top: 20px;
                margin-left: 20px;
                border-radius: 10px 20px 30px 40px;
            }

            .accomodation-details {
                padding: 15px;
            }

            .accomodation-title {
                margin-top: 0;
            }

            .accomodation-price {
                font-weight: bold;
            }

            .mini-info {
                margin-top: 5px;
            }

            .mini-info-item {
                display: inline-block;
                margin-right: 10px;
                padding: 5px 10px;
                background-color: #f0f0f0;
                color: #333;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            .invalid-field {
                border-color: red !important;
            }

            .content {
                margin-top: -0.6cm; /* Устанавливаем отступ сверху, чтобы контент начинался после изображения */
            }

            .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
                color: #fff;
                padding: 10px 20px;
                font-size: 1rem;
                border-radius: 30px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: background-color 0.3s, transform 0.3s;
            }

            .btn-primary:hover {
                background-color: #0056b3;
                transform: scale(1.05);
            }

            .btn-primary:focus,
            .btn-primary:active {
                background-color: #004085;
                border-color: #004085;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }

            .no-results-message {
                text-align: center;
                padding: 20px;
                margin-top: 20px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background-color: #f8f9fa;
                color: #333;
                font-size: 1.2rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            .text-danger {
            background-color: #f8d7da;
            color: #721c24;
            border-color: #f5c6cb;
            }

            #notification {
                display: none;
                padding: 10px;
                margin-top: 10px;
                border-radius: 5px;
            }
        </style>

        <script>
            function validateButtons() {
                const radios = document.getElementsByName('room');
                let isChecked = false;
                for (const radio of radios) {
                    if (radio.checked) {
                        isChecked = true;
                        break;
                    }
                }
                if (!isChecked) {
                    $('#notification').text('Please choose room for booking.').addClass('text-danger').show();
                    return false; // Prevent form submission
                }

                $('#notification').text('Please choose room for booking.').removeClass('text-danger').hide();

                return true; // Allow form submission
            }

            function validateSearch() {
                var city = $('#citySelect').val();
                var dateIn = $('#checkInDate').val();
                var dateOut = $('#checkOutDate').val();
                var adults = $('#adults').val();
                var rooms = $('#rooms').val();

                var isValid = true;

                if (!city) {
                    $('#citySelect').addClass('invalid-field');
                    isValid = false;
                } else {
                    $('#citySelect').removeClass('invalid-field');
                }

                if (!dateIn) {
                    $('#checkInDate').addClass('invalid-field');
                    isValid = false;
                } else {
                    $('#checkInDate').removeClass('invalid-field');
                }

                if (!dateOut) {
                    $('#checkOutDate').addClass('invalid-field');
                    isValid = false;
                } else {
                    $('#checkOutDate').removeClass('invalid-field');
                }
                if (!adults) {
                    $('#adults').addClass('invalid-field');
                    isValid = false;
                } else {
                    $('#adults').removeClass('invalid-field');
                }

                if (!rooms) {
                    $('#rooms').addClass('invalid-field');
                    isValid = false;
                } else {
                    $('#rooms').removeClass('invalid-field');
                }

                if (dateIn && dateOut) {
                    var checkInDate = new Date(dateIn);
                    var checkOutDate = new Date(dateOut);

                    if (checkInDate >= checkOutDate) {
                        $('#checkInDate').addClass('invalid-field');
                        $('#checkOutDate').addClass('invalid-field');
                        isValid = false;
                    } else {
                        $('#checkInDate').removeClass('invalid-field');
                        $('#checkOutDate').removeClass('invalid-field');
                    }
                }

                return isValid;
            }

        </script>
</head>

<div class="full-width-image"></div>

<main class="form-signin w-100 m-auto text-center" style="padding-bottom: 30px;">
    <body>
        <div class="container content">
            <form id="searchAccomodationForm" method="get" action="/Home/AccomodationResults" onsubmit="return validateSearch()">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        @{
                            var selectedCity = ViewBag.SelectedCity as string;
                        }
                        <div class="input-group mb-3" style="height: 45px;">
                            <span class="input-group-text"><i class="fa-solid fa-bed"></i></span>
                            <select class="form-select" id="citySelect" name="city">
                                <option value="" selected hidden>Where are you going?</option>
                                @foreach (var city in Model.Cities)
                                {
                                    <option value="@city">@city</option>
                                }
                            </select>
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                var selectedCity = '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(selectedCity))';
                                var selectElement = document.getElementById('citySelect');
                                selectElement.value = selectedCity;
                            });
                        </script>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-4" style="height: 45px;">
                            <span class="input-group-text">Check-In Date</span>
                            <input type="date" class="form-control" id="checkInDate" name="checkInDate" value="@ViewBag.CheckInDate?.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                            <span class="input-group-text">Check-Out Date</span>
                            <input type="date" class="form-control" id="checkOutDate" name="checkOutDate" value="@ViewBag.CheckOutDate?.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                            <input type="number" class="form-control" id="adults" name="adults" placeholder="Adult" min="1" max="50" value="@ViewBag.Adults">
                            <input type="number" class="form-control" id="rooms" name="rooms" placeholder="Room" min="1" max="30" value="@ViewBag.Rooms">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </form>

          
                    <div class="container-fluid" style="margin-left: 200px;">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col">
                                        @if (Model?.Results != null && Model.Results.Any())
                                        {
                                            @foreach (var accomodation in Model.Results)
                                            {
                                        <form id="bookAccomodation_@accomodation.Id" method="post" action="/Home/BookAccomodation" onsubmit="return validateButtons()" class="bookAccomodationForm">
                                                <input type="hidden" name="accomodationId" value="@accomodation.Id" />
                                                <input type="hidden" name="dateIn" value="@ViewBag.CheckInDate?.ToString("yyyy-MM-dd")" />
                                                <input type="hidden" name="dateOut" value="@ViewBag.CheckOutDate?.ToString("yyyy-MM-dd")" />
                                                <input type="hidden" name="rooms" value="@ViewBag.Rooms" />
                                                <input type="hidden" name="adults" value="@ViewBag.Adults" />
                                                <div class="accomodation-card">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <img src="data:image;base64,@(Convert.ToBase64String(accomodation.MainPhoto))" alt="Accomodation Image" class="accomodation-image" />
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="accomodation-details">
                                                                <h3 class="accomodation-title" style="margin-top: 0; font-size: 1.5rem; text-align: left;">
                                                                    <a href="/Account/ShowAccomodationInformation?accomodationId=@accomodation.Id">@accomodation.Name</a>
                                                                </h3>
                                                                <p class="accomodation-features" style="text-align: left;">@accomodation.City, @accomodation.Country</p>
                                                                <p class="mini-info">
                                                                    @{
                                                                        if (accomodation.SwimmingPool > 0)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-person-swimming"></i> @accomodation.SwimmingPool swimming pool</span>
                                                                        }
                                                                        if (accomodation.Restaurants > 0)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-utensils"></i> @accomodation.Restaurants restaurant</span>
                                                                        }
                                                                        if (accomodation.Parking)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-square-parking"></i> Parking</span>
                                                                        }
                                                                        if (accomodation.PrivateBeach)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-umbrella-beach"></i> Private Beach</span>
                                                                        }
                                                                        if (accomodation.SPA)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-spa"></i> SPA</span>
                                                                        }
                                                                        if (accomodation.FitnessCentre)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-dumbbell"></i> Fitness Centre</span>
                                                                        }
                                                                        if (accomodation.PetsAllowed)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-paw"></i> Pets Allowed</span>
                                                                        }
                                                                    }
                                                                </p>
                                                                <p class="mini-info">
                                                                    @{
                                                                        foreach (var nutrition in accomodation.TypesOfNutrition)
                                                                        {
                                                                                <span class="mini-info-item"><i class="fa-solid fa-bowl-food"></i> @nutrition</span>
                                                                        }
                                                                    }
                                                                </p>
                                                                <p class="accomodation-price">from $@accomodation.MinCost / 1 night</p>

                                                                @{
                                                                    if (User.IsInRole("traveller") || User.IsInRole("Traveller"))
                                                                    {
                                                                        <h4>Choose Room For Booking:</h4>
                                                                        <input type="hidden" id="selectedRoom" name="selectedRoom" value="" />

                                                                        <div class="available-rooms" style="margin-bottom: 10px;">
                                                                            @foreach (var roomName in accomodation.AvailableRoomsNames)
                                                                            {
                                                                                <label class="radio-inline" style="margin-right: 10px;">
                                                                                    <input type="radio" name="room" value="@roomName" onclick="updateSelectedRoom('@roomName')"> @roomName
                                                                                </label>
                                                                            }
                                                                        </div>

                                                                        <div id="notification" class="text-danger" style="display:none;"></div>


                                                                    <button id="bookButton_@accomodation.Id" type="submit" class="btn btn-primary" style="margin-right: 20px; margin-top: 10px;">Book</button>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>
                                            }
                                        }
                                        else
                                        {
                                            <div class="no-results-message">
                                                <p>No accommodation found for your search criteria. Please try again with different options.</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
        </div>
    </body>
</main>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Перехватываем отправку формы
            $('.bookAccomodationForm').submit(function (event) {
                // Отменяем стандартное поведение отправки формы
                event.preventDefault();

                if (!validateButtons()) {
                    return false;
                }

                var form = $(this);
                var formData = form.serialize();

                // Отправляем AJAX-запрос на сервер
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                        // Изменяем цвет и текст кнопки после успешного запроса
                        var buttonId = form.find('button[type=submit]').attr('id');
                        var button = $('#' + buttonId);
                        button.css('background-color', 'green');
                        button.text('Booked');
                        button.prop('disabled', true);

                        // Перенаправление или другие действия при необходимости
                        // Например, можно перенаправить пользователя:
                        // window.location.href = response.redirectUrl;
                    },
                    error: function (xhr, status, error) {
                        // Обработка ошибок
                        console.error('Ошибка: ' + error);
                    }
                });
            });
        });


        function changeButton(button) {
            if (validateButtons()) {
                // Change button color
                button.style.backgroundColor = 'green';
                // Change button text
                button.innerText = 'Booked';
                button.disabled = true;
                return true; // Allow form submission
            }
            return false; // Prevent form submission
        }
    </script>

    <script>
        function updateSelectedRoom(roomName) {
            document.getElementById('selectedRoom').value = roomName;
        }
    </script>
}