@using Travelling_Application.ViewModels
@model ShowAttractionInformationViewModel

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @section styles {
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .car-card {
                border: 1px solid #ddd;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                margin-bottom: 20px;
            }

            .car-image {
                width: 100%;
                height: auto;
                display: block;
            }

            .enlarged-photo-container {
                display: none;
                position: fixed;
                z-index: 9999;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
            }

            .enlarged-photo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 90%;
                max-height: 90%;
                border: 2px solid #fff;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            }

            .close-btnn {
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                z-index: 99999;
            }

            .close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                z-index: 99999;
            }

            .photo-item {
                width: 150px;
                height: 150px;
                margin: 5px;
                position: relative;
            }

            .car-title {
                margin-top: 0;
            }

            .car-price {
                font-weight: bold;
            }

            .mini-info {
                margin-top: 5px;
            }

            .mini-info-item {
                display: inline-block;
                margin-right: 10px;
                padding: 5px 10px;
                background-color: #f0f0f0;
                color: #333;
                border-radius: 5px;
                margin-top: 10px;
            }

            .form-signin > :last-child {
                margin-bottom: 56px; /* 56px - высота футера */
            }

            .gallery-container {
                position: relative;
                max-width: 600px;
                margin: auto;
            }

            .gallery-slide {
                display: none;
            }

            .active-slide {
                display: block;
            }

            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            .prev {
                left: 0;
                border-radius: 3px 0 0 3px;
            }

            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }

            .input-group {
                display: flex;
                justify-content: center;
            }

            .input-group input {
                max-width: 200px;
                margin: 0 10px;
            }
        </style>
    }
</head>

<main class="text-center" style="padding-bottom: 30px;">
    <body>
        <h2 style="margin-bottom: 20px">@Model.Title</h2>
        <div class="gallery-container">
            @for (int i = 0; i < Model.Photos.Count; i++)
            {
                var base64Image = Convert.ToBase64String(Model.Photos[i]);
                var imageSrc = $"data:image/jpeg;base64,{base64Image}";
                <div class="gallery-slide @((i == 0) ? "active-slide" : "")">
                    <img src="@imageSrc" style="width:100%">
                </div>
            }
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <h6 style="margin-top: 20px;"><i class="fa-solid fa-place-of-worship"></i>  @Model.Category</h6>
        <h6 style="margin-top: 20px;"><i class="fa-solid fa-earth-americas"></i>  @Model.Country, @Model.City</h6>
        <h6 style="margin-top: 20px;"><i class="fa-solid fa-map-location-dot"></i>  @Model.Address</h6>
        @if (Model.FreeCancellation)
        {
            <span class="mini-info-item" style="margin-top: 10px"><i class="fa-solid fa-check" style="color: green;"></i>  Free cancellation up to 48 hours before pick-up</span>
        }
        <p class="mini-info">
            @{
                foreach (var language in @Model.Languages)
                {
                    <span class="mini-info-item"><i class="fa-solid fa-language"></i> @language</span>
                }
            }
        </p>
        <span class="mini-info-item" style="margin-top: -10px;"><i class="fa-solid fa-clock"></i> @Model.TimeOfDay</span>
        <h6 style="font-weight: normal; margin-top: 20px;">@Model.Description</h6>
        <h4 style="margin-top: 20px;">Available Dates & Amount Of Tickets:</h4>
        <div class="row justify-content-center">
            <div class="col-md-8">
                @for (int i = 0; i < Model.AvailableDates.Count && i < Model.AmountOfTickets.Count; i++)
                {
                    <div class="mini-info">
                        <div class="input-group">
                            <input type="date" class="form-control" value="@Model.AvailableDates[i].ToString("yyyy-MM-dd")" readonly>
                            <input type="number" class="form-control" value="@Model.AmountOfTickets[i].ToString()" readonly>
                        </div>
                    </div>
                }
            </div>
        </div>
        <h2 style="margin-top: 20px; margin-bottom: 20px;">Cost: $@Model.Cost Per 1 Person</h2>
        <script>
            let slideIndex = 0;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function showSlides(n) {
                let slides = document.getElementsByClassName("gallery-slide");
                if (n >= slides.length) {
                    slideIndex = 0;
                }
                if (n < 0) {
                    slideIndex = slides.length - 1;
                }
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex].style.display = "block";
            }
        </script>
    </body>
</main>

