@{
    ViewData["Title"] = "Edit Attraction | TravelHaven";
}

@using System.Web

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    @section styles {
        <style>
            .enlarged-photo-container {
                display: none;
                position: fixed;
                z-index: 9999;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
            }

            .list-group-item {
                font-family: 'Poppins', sans-serif; /* Используем шрифт Poppins */
                color: #ffffff; /* Белый цвет текста */
                background-color: #47b0e7; /* Цвет фона, соответствующий шапке сайта */
                border: none;
                margin-bottom: 5px;
                transition: background-color 0.3s ease;
            }

                .list-group-item:hover {
                    background-color: #6aaed6; /* Цвет фона при наведении, слегка отличающийся для выделения */
                }

                .list-group-item.active {
                    background-color: #007bff;
                    border-color: #007bff;
                }

            .enlarged-photo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 90%;
                max-height: 90%;
                border: 2px solid #fff;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            }

            .enlarged-photo-container1 {
                display: none;
                position: fixed;
                z-index: 9999;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
            }

            .enlarged-photo1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 90%;
                max-height: 90%;
                border: 2px solid #fff;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            }

            .close-btnn {
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                z-index: 99999;
            }

            .close-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                z-index: 99999;
            }

            .photo-item {
                width: 150px;
                height: 150px;
                margin: 5px;
                position: relative;
            }

            .delete-btn {
                top: 5px;
                right: 5px;
            }

            .img-thumbnail {
                max-height: 150px; /* Устанавливаем максимальную высоту */
                width: auto; /* Автоматически масштабируем ширину */
                max-width: 150%; /* Не допускаем переполнение родительского контейнера */
            }

            .form-signin > :last-child {
                margin-bottom: 56px; /* 56px - высота футера */
            }
        </style>
        <style>
            .btn-entity {
                background-color: #f1f1f1;
                color: #333;
                transition: background-color 0.3s, color 0.3s;
                border: none;
                width: 100%;
                padding: 10px;
                font-size: 16px;
            }

                .btn-entity:hover {
                    background-color: #ddd;
                    color: #222;
                }

                .btn-entity.selected {
                    background-color: #007bff;
                    color: #fff;
                }
        </style>
        <style>
            #notification {
                display: none;
                padding: 10px;
                margin-top: 10px;
                border-radius: 5px;
            }

            #notification1 {
                display: none;
                padding: 10px;
                margin-top: 10px;
                border-radius: 5px;
            }

            #notificationAttraction {
                display: none;
                padding: 10px;
                margin-top: 10px;
                border-radius: 5px;
            }

            .success-notification {
                background-color: #d4edda;
                color: #155724;
                border-color: #c3e6cb;
            }

            .text-danger {
                background-color: #f8d7da;
                color: #721c24;
                border-color: #f5c6cb;
            }

            .text-danger1 {
                background-color: #f8d7da;
                color: #721c24;
                border-color: #f5c6cb;
            }

            .invalid-field {
                border-color: red !important;
            }
        </style>
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function validateAttractionForm() {
            // Проверка текстовых полей
            var attractionName = $('#attractionName').val();
            var attractionCountry = $('#attractionCountry').val();
            var attractionCity = $('#attractionCity').val();
            var attractionAddress = $('#attractionAddress').val();
            var description = $('#descriptionAttraction').val();
            var cost = $('#cost').val();

            // Проверка выбранных радиокнопок
            var freeCancellation = $('#freeCancellationYes').is(':checked');
            if (!freeCancellation) {
                freeCancellation = $('#freeCancellationNo').is(':checked');
            }

            // Проверка выбранных чекбоксов
            var languages = $('input[name="model.Languages[]"]:checked').length > 0;

            // Проверка загруженных фотографий
            var photoCount = $('#photoContainer').children().length;

            // Проверка всех динамически добавленных полей
            var dynamicFieldsFilled = true;
            $('.booking-date-attraction').each(function () {
                var date = $(this).find('input[name="model.AvailableDates[]"]').val();
                var tickets = $(this).find('input[name="model.AmountOfTickets[]"]').val();
                if (date === '' || tickets === '') {
                    dynamicFieldsFilled = false;
                    return false; // Выход из цикла each
                }
            });
            var isValid = true;
            // Проверка всех условий
            if (attractionName === '' || attractionCountry === '' || attractionCity === '' || attractionAddress === '' || description === '' || cost === '' || !freeCancellation || !languages || photoCount === 0 || !dynamicFieldsFilled) {
                $('#notificationAttraction').text('Please fill in all required fields.').addClass('text-danger').show();
                isValid = false;
            }
            return isValid;
        }
    </script>

    <main class="form-signin w-100 m-auto text-center" style="padding-bottom: 30px;">
        <body>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <a href="/Account/ViewProfile" class="list-group-item style="color: #ffffff;">Account</a>
                            @{
                                if (User.IsInRole("traveller") || User.IsInRole("Traveller"))
                                {
                                    <a href="/Account/ShowFavoriteItems" class="list-group-item">My Favorite</a>
                                    <a href="/Account/ShowBookingItems" class="list-group-item">My Verified Bookings</a>
                                    <a href="/Account/ShowUnverifiedBookingItems" class="list-group-item">My Bookings Awaiting Verification</a>
                                    <a href="/Account/ShowRejectedBookingItems" class="list-group-item">My Rejected Bookings</a>
                                }
                                else if (User.IsInRole("owner of company") || User.IsInRole("Owner of company"))
                                {
                                    <a href="/Account/AddObject" class="list-group-item">Add Object</a>
                                    <a href="/Account/VerifiedObjects" class="list-group-item">My Verified Objects</a>
                                    <a href="/Account/UnverifiedObjects" class="list-group-item">My Unverified Objects</a>
                                    <a href="/Account/RejectedObjects" class="list-group-item">My Rejected Objects</a>
                                    <a href="/Account/BookingsForVerification" class="list-group-item">Bookings For Verification</a>
                                    <a href="/Account/VerifiedBookings" class="list-group-item">Verified Bookings</a>
                                    <a href="/Account/RejectedBookings" class="list-group-item">Rejected Bookings</a>
                                }
                                else
                                {
                                    <a href="/Account/AllUnverifiedObjects" class="list-group-item">Objects Requiring Verification</a>
                                    <a href="/Account/AllVerifiedObjects" class="list-group-item">Verified Objects</a>
                                    <a href="/Account/AllRejectedObjects" class="list-group-item">Rejected Objects</a>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div id="entertainment-fields" class="mt-5">
                                <form id="entertainment-form" asp-action="UpdateEntertainmentForm" asp-controller="Account" style="display: inline-block;" asp-anti-forgery="true" enctype="multipart/form-data" onsubmit="return validateAttractionForm()">
                                    <input type="hidden" name="editAttractionId" value="@ViewBag.editAttractionId" />
                                    @{
                                        var photoArrays = ViewBag.AttractionPhotos as List<byte[]>;
                                    }
                                    <div id="photoContainer" class="d-flex flex-wrap">
                                        @if (photoArrays != null)
                                        {
                                            foreach (var photoArray in photoArrays)
                                            {
                                                var base64String = Convert.ToBase64String(photoArray);
                                                var imgSrc = $"data:image/png;base64,{base64String}";
                                                <div class="photo-item d-flex align-items-center justify-content-center position-relative">
                                                    <img class="img-thumbnail" src="@imgSrc" data-src="@imgSrc" onclick="openPhoto1('@imgSrc')" />
                                                    <button class="btn btn-sm btn-danger delete-btn position-absolute" title="Delete">&times;</button>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <input type="hidden" id="photoData" name="photoData" />
                                    <div class="form-group">
                                        <input type="file" name="photos" id="photoUpload" multiple style="display:none;">
                                        <button type="button" class="btn btn-primary" id="uploadBtn">Upload Photos</button>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            let photoArray = [];

                                            // Добавляем изначально загруженные фото в массив photoArray
                                            $('#photoContainer img').each(function () {
                                                photoArray.push($(this).attr('data-src'));
                                            });

                                            $("#uploadBtn").click(function () {
                                                $("#photoUpload").click();
                                            });

                                            $("#photoUpload").change(function () {
                                                var files = this.files;
                                                var container = $("#photoContainer");

                                                $.each(files, function (index, file) {
                                                    var reader = new FileReader();
                                                    reader.onload = function (e) {
                                                        var imageSrc = e.target.result;
                                                        var image = $('<div class="photo-item d-flex align-items-center justify-content-center position-relative"></div>').append(
                                                            $('<img class="img-thumbnail">').attr({ 'src': imageSrc, 'data-src': imageSrc }).click(function () {
                                                                openPhoto1($(this).attr('data-src'));
                                                            }),
                                                            $('<button class="btn btn-sm btn-danger delete-btn position-absolute" title="Delete">&times;</button>').click(function () {
                                                                $(this).parent().remove();
                                                                photoArray = photoArray.filter(src => src !== imageSrc);
                                                                $("#photoData").val(JSON.stringify(photoArray));
                                                            })
                                                        );
                                                        container.append(image);
                                                        photoArray.push(imageSrc);
                                                        $("#photoData").val(JSON.stringify(photoArray));
                                                    };
                                                    reader.readAsDataURL(file);
                                                });
                                            });

                                            // Обработчик удаления для всех кнопок удаления
                                            $(document).on('click', '.delete-btn', function () {
                                                var imageSrc = $(this).siblings('img').attr('data-src');
                                                $(this).parent().remove();
                                                photoArray = photoArray.filter(src => src !== imageSrc);
                                                $("#photoData").val(JSON.stringify(photoArray));
                                            });

                                            // Обновляем скрытое поле photoData перед отправкой формы
                                            $("#entertainment-form").submit(function () {
                                                $("#photoData").val(JSON.stringify(photoArray));
                                                return validateAttractionForm();
                                            });
                                        });

                                        // Функция для отображения увеличенного изображения
                                        function openPhoto1(imgSrc) {
                                            var enlargedImgContainer = document.getElementById('enlarged-photo-container1');
                                            var enlargedImg = document.getElementById('enlarged-photo1');
                                            enlargedImg.src = imgSrc;
                                            enlargedImgContainer.style.display = 'block';
                                        }

                                        // Функция для закрытия увеличенного изображения
                                        function closePhoto1() {
                                            var enlargedImgContainer = document.getElementById('enlarged-photo-container1');
                                            enlargedImgContainer.style.display = 'none';
                                        }
                                    </script>

                                    <!-- Скрытый контейнер для увеличенного изображения -->
                                    <div id="enlarged-photo-container1" class="enlarged-photo-container1">
                                        <span class="close-btnn" onclick="closePhoto1()">✕</span>
                                        <img id="enlarged-photo1" class="enlarged-photo1">
                                    </div>

                                    <div class="form-group">
                                        <label for="attractionName" style="margin-top: 15px;">Attraction Name</label>
                                        <input type="text" name="model.Title" value="@ViewBag.AttractionName" class="form-control" id="attractionName" placeholder="Enter the attraction name" style="margin-top: 10px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="attractionCountry" style="margin-top: 15px;">Country Of Location</label>
                                        <input type="text" name="model.Country" value="@ViewBag.AttractionCountry" class="form-control" id="attractionCountry" placeholder="Enter the country of location" style="margin-top: 10px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="attractionCity" style="margin-top: 15px;">City Of Location</label>
                                        <input type="text" name="model.City" value="@ViewBag.AttractionCity" class="form-control" id="attractionCity" placeholder="Enter the city of location" style="margin-top: 10px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="attractionAddress" style="margin-top: 15px;">Address Of Location</label>
                                        <input type="text" name="model.Address" value="@ViewBag.AttractionAddress" class="form-control" id="attractionAddress" placeholder="Enter the address of location" style="margin-top: 10px;">
                                    </div>
                                    @{
                                        var selectedLanguages = ViewBag.Languages as List<string> ?? new List<string>();
                                    }
                                    <div class="mb-3">
                                        <label for="language" class="form-label" style="margin-top: 15px;">Language</label><br>
                                        @{
                                            var languages = new Dictionary<string, string>
                                        {
                                        {"English", "EnglishLang"},
                                        {"Dutch", "DutchLang"},
                                        {"German", "GermanLang"},
                                        {"Spanish", "SpanishLang"},
                                        {"French", "FrenchLang"},
                                        {"Italian", "ItalianLang"},
                                        {"Portuguese", "PortugueseLang"},
                                        {"Chinese", "ChineseLang"},
                                        {"Russian", "RussianLang"},
                                        {"Japanese", "JapaneseLang"},
                                        {"Arabic", "ArabicLang"},
                                        {"Filipino", "FilipinoLang"}
                                        };

                                            foreach (var language in languages)
                                            {
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" name="model.Languages[]" id="@language.Value" value="@language.Key" @(selectedLanguages.Contains(language.Key) ? "checked" : "")>
                                                    <label class="form-check-label" for="@language.Value">@language.Key</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                    @{
                                        var selectedCategory = ViewBag.AttractionCategory as string;
                                    }

                                    <div class="mb-3">
                                        <label for="attractionCategory" class="form-label" style="margin-top: 15px;">Attraction Category</label>
                                        <div class="input-group">
                                            <select class="form-select" id="attractionCategory" name="model.Category" type="hidden">
                                                <option value="Tours">Tours</option>
                                                <option value="Museum, arts & culture">Museum, arts & culture</option>
                                                <option value="Nature & outdoor">Nature & outdoor</option>
                                                <option value="Entertainment & tickets">Entertainment & tickets</option>
                                                <option value="Food & drink">Food & drink</option>
                                                <option value="Workshops & classes">Workshops & classes</option>
                                                <option value="Travel services & rentals">Travel services & rentals</option>
                                            </select>
                                        </div>
                                    </div>

                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            var selectedCategory = '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(selectedCategory))';
                                            var selectElement = document.getElementById('attractionCategory');
                                            selectElement.value = selectedCategory;
                                        });
                                    </script>

                                    <div class="mb-3">
                                        <label for="timeOfDay" class="form-label" style="margin-top: 15px;">Time Of Day</label>
                                        <div class="input-group">
                                            <select class="form-select" id="timeOfDay" name="model.TimeOfDay" type="hidden">
                                                <option value="Morning">Morning</option>
                                                <option value="Afternoon">Afternoon</option>
                                                <option value="Evening & Night">Evening & Night</option>
                                                <option value="All Day">All Day</option>
                                            </select>
                                        </div>
                                        <script>
                                            // Устанавливаем выбранное значение для элемента select на основе значения из ViewBag
                                            document.getElementById("timeOfDay").value = "@ViewBag.TimeOfDay";
                                        </script>
                                    </div>
                                    <div class="mb-3">
                                        <label for="freeCancellation" class="form-label" style="margin-top: 15px;">Free Cancellation</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="model.FreeCancellation" id="freeCancellationYes" value="true" @(ViewBag.FreeCancellation == true ? "checked" : "")>
                                            <label class="form-check-label" for="freeCancellationYes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="model.FreeCancellation" id="freeCancellationNo" value="false" @(ViewBag.FreeCancellation == false ? "checked" : "")>
                                            <label class="form-check-label" for="freeCancellationNo">No</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="descriptionAttraction" style="margin-top: 15px;">Attraction Description</label>
                                        <textarea class="form-control" id="descriptionAttraction" name="model.Description" placeholder="Enter the attraction description" rows="5" style="margin-top: 10px;">@ViewBag.AttractionDescription</textarea>
                                    </div>
                                    <label for="cost" style="margin-top:15px;">Price Per 1 Person</label>
                                    <input type="number" value="@ViewBag.AttractionPrice" class="form-control" name="model.Cost" id="cost" placeholder="Enter price per 1 person" step="0.01" min="0" max="10000" style="margin-top: 10px;">
                                    <div id="booking-dates-attraction">
                                            <label for="availableDatesAttraction" style="margin-top: 15px;">Available Dates For Booking & Amount Of Tickets</label>
                                            @for (int i = 0; i < ViewBag.Dates.Count; i++)
                                        {
                                            <div class="booking-date-attraction" style="margin-top: 15px;">
                                            <div class="input-group">
                                                    <input type="date" class="form-control" name="model.AvailableDates[]" required min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@ViewBag.Dates[i].ToString("yyyy-MM-dd")">
                                                    <input type="number" class="form-control" name="model.AmountOfTickets[]" placeholder="Enter amount of tickets" min="0" max="10000" value="@ViewBag.AmountOfTickets[i].ToString()">
                                            </div>
                                            </div>
                                        }
                                    </div>
                                    <button id="add-booking-date-attraction" class="btn btn-primary rounded-circle" style="margin-top: 15px; background-color: #fff; border-color: #fff; color: #000;">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 128 128">
                                            <path d="M 64 6.0507812 C 49.15 6.0507812 34.3 11.7 23 23 C 0.4 45.6 0.4 82.4 23 105 C 34.3 116.3 49.2 122 64 122 C 78.8 122 93.7 116.3 105 105 C 127.6 82.4 127.6 45.6 105 23 C 93.7 11.7 78.85 6.0507812 64 6.0507812 z M 64 12 C 77.3 12 90.600781 17.099219 100.80078 27.199219 C 121.00078 47.499219 121.00078 80.500781 100.80078 100.80078 C 80.500781 121.10078 47.500781 121.10078 27.300781 100.80078 C 7.0007813 80.500781 6.9992188 47.499219 27.199219 27.199219 C 37.399219 17.099219 50.7 12 64 12 z M 64 42 C 62.3 42 61 43.3 61 45 L 61 61 L 45 61 C 43.3 61 42 62.3 42 64 C 42 65.7 43.3 67 45 67 L 61 67 L 61 83 C 61 84.7 62.3 86 64 86 C 65.7 86 67 84.7 67 83 L 67 67 L 83 67 C 84.7 67 86 65.7 86 64 C 86 62.3 84.7 61 83 61 L 67 61 L 67 45 C 67 43.3 65.7 42 64 42 z"></path>
                                        </svg>
                                    </button>
                                    <div class="attraction-info" style="text-align: center;">
                                        <button id="save-button-attraction" type="submit" class="btn btn-primary" style="margin-top: 30px;">Save</button>
                                </form>
                            </div>
                            <div id="notificationAttraction" class="text-danger1" style="display:none;"></div>
                        </div>
                    </div>
                </div>

                @section scripts {
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            var currentDate = new Date();
                            var minDate = new Date(currentDate.getTime());

                            // Устанавливаем значение атрибута min для поля ввода даты

                            document.querySelector('input[name="model.AvailableDates[]"]').setAttribute('min', formatDatee(minDate));

                            $('#add-booking-date-attraction').click(function () {
                                var newBookingDateHtmlAttr = `
                                                                            <div class="booking-date-attraction" style="margin-top: 15px;">
                                                                                <div class="input-group">
                                                                                    <input type="date" name="model.AvailableDates[]" required min="${formatDatee(minDate)}" class="form-control">
                                                                                    <input type="number" class="form-control" name="model.AmountOfTickets[]" placeholder="Enter amount of tickets" min="0" max="10000">
                                                                                </div>
                                                                            </div>
                                                                            `;
                                $('#booking-dates-attraction').append(newBookingDateHtmlAttr);
                            });
                        });

                        function formatDatee(date) {
                            var year = date.getFullYear();
                            var month = (date.getMonth() + 1).toString().padStart(2, '0');
                            var day = date.getDate().toString().padStart(2, '0');
                            return `${year}-${month}-${day}`;
                        }
                    </script>
                }
            </div>
        </body>
    </main>
</head>